<div class="container_fullwidth">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="products-details">
                    <div class="preview_image">
                        <div class="preview-small">
                            <div style="height:311px;width:328px;" class="zoomWrapper"><img id="zoom_03" style="height:311px;width:328px;" src="assets/backend/images/img/{{tuixach.hinhAnh}}" data-zoom-image="http://localhost/blog/public/backend/images/img/jtPONJ4h.jpg" alt="">
                            </div>
                        </div>
                        <div class="thum-image">
                            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; inset: auto; z-index: auto; width: 240px; height: 55px; margin: 0px; overflow: hidden;">
                                <ul id="gallery_01" class="prev-thum" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 840px; height: 55px;">
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-01.jpg" data-zoom-image="images/products/Large/products-01.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-02.jpg" data-zoom-image="images/products/Large/products-02.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-03.jpg" data-zoom-image="images/products/Large/products-03.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-04.jpg" data-zoom-image="images/products/Large/products-04.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                    <li style="width: 60px;">
                                        <a href="#" data-image="images/products/medium/products-05.jpg" data-zoom-image="images/products/Large/products-05.jpg">
                                            <img src="assets/backend/images/img/{{tuixach.hinhAnh}}" alt="">
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <a class="control-left" id="thum-prev" href="javascript:void(0);" style="display: block;">
                                <i class="fa fa-chevron-left">
                              </i>
                            </a>
                            <a class="control-right" id="thum-next" href="javascript:void(0);" style="display: block;">
                                <i class="fa fa-chevron-right">
                              </i>
                            </a>
                        </div>
                    </div>
                    <div class="products-description">
                        <h5 class="name">
                            {{tuixach.tenTuiXach}}
                        </h5>
                        <p>
                            <img alt="" src="images/star.png">
                            <a class="review_num" href="#">
                              02 Review(s)
                          </a>
                        </p>

                        <p>
                        </p>
                        <p>{{tuixach.tenTuiXach}}</p>
                        <p></p>
                        <hr class="border">
                        <div class="price">
                            Giá :
                            <span class="new_price">
                              {{tuixach.gia|number}}Đ
                          </span>
                            <span class="old_price">
                              500,000đ
                          </span>
                        </div>
                        <hr class="border">
                        <div class="wided">

                            <div class="button_group">
                                <a onclick="Addcart(1)" href="javascript:">
                                    <button class="button">
                                      Add To Cart
                                  </button>
                                </a>
                                <button class="button compare">
                                  <i class="fa fa-exchange">
                                  </i>
                              </button>
                                <button class="button favorite">
                                  <i class="fa fa-heart-o">
                                  </i>
                              </button>
                                <button class="button favorite">
                                  <i class="fa fa-envelope-o">
                                  </i>
                              </button>
                            </div>
                        </div>
                        <div class="clearfix">
                        </div>
                        <hr class="border">
                        <img src="images/share.png" alt="" class="pull-right">
                    </div>
                </div>
                <div class="clearfix">
                </div>

                <div class="clearfix">
                </div>
            </div>
            <div class="col-md-3">
                <div class="special-deal leftbar">
                    <h4 class="title">
                        <strong>
                          Sản Phẩm
                      </strong> đặc biệt
                    </h4>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/products-01.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/products-02.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                    <div class="special-item">
                        <div class="product-image">
                            <a href="#">
                                <img src="assets/User/images/products/thum/products-03.png" alt="">
                            </a>
                        </div>
                        <div class="product-info">
                            <p>
                                Licoln Corner Unit
                            </p>
                            <h5 class="price">
                                300,000Đ
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                </div>
                <div class="product-tag leftbar">
                    <h3 class="title">
                        <strong>
                          Thẻ
                      </strong> sản phẩm
                    </h3>
                    <ul>
                        <li>
                            <a href="#">
                              Lincoln us
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              SDress for Girl
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Corner
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Window
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              PG
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Oscar
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              Bath room
                          </a>
                        </li>
                        <li>
                            <a href="#">
                              PSD
                          </a>
                        </li>
                    </ul>
                </div>
                <div class="clearfix">
                </div>
                <div class="get-newsletter leftbar">
                    <h3 class="title">
                        Kết nối với
                        <strong>
                          Flat shop
                      </strong>
                    </h3>

                    <form>
                        <input class="email" type="text" name="" placeholder="Email...">
                        <input class="submit" type="submit" value="Kết nối">
                    </form>
                </div>
                <div class="clearfix">
                </div>
                <div class="fbl-box leftbar">
                    <h3 class="title">
                        Facebook
                    </h3>
                    <span class="likebutton">
                      <a href="#">
                          <img src="assets/User/images/fblike.png" alt="">
                      </a>
                  </span>
                    <p>
                        12 nghìn người thích Flat Shop.
                    </p>
                    <ul>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                            </a>
                        </li>
                    </ul>
                    <div class="fbplug">
                        <a href="#">
                            <span>
                              <img src="assets/User/images/fbicon.png" alt="">
                          </span> Facebook social plugin
                        </a>
                    </div>
                </div>
                <div class="clearfix">
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="our-brand">
            <h3 class="title">
                <strong>
                  Our
              </strong> Brands
            </h3>
            <div class="control">
                <a id="prev_brand" class="prev" href="#" style="display: block;">
                  &lt;
              </a>
                <a id="next_brand" class="next" href="#" style="display: block;">
                  &gt;
              </a>
            </div>
            <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: left; position: relative; inset: auto; z-index: auto; width: 1140px; height: 97px; margin: 0px; overflow: hidden;">
                <ul id="braldLogo" style="text-align: left; float: none; position: absolute; inset: 0px auto auto 0px; margin: 0px; width: 5700px; height: 97px;">
                    <li style="width: 1140px;">
                        <ul class="brand_item">
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/envato.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/themeforest.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/photodune.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/activeden.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/envato.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li style="width: 1140px;">
                        <ul class="brand_item">
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/envato.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/themeforest.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/photodune.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/activeden.png" alt="">
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="brand-logo">
                                        <img src="assets/User/images/envato.png" alt="">
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>